@media (min-width: 1280px) {
    .sap-desktop .sapMShellAppWidthLimited .sapMShellCentralBox {
        width: auto !important;
        margin-left: 0 !important;
        left: 0 !important;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.mioButton .sapMBtnInner {
    width: 30px !important;
    min-width: 0 !important;
    height: 30px !important;
  
}

.mioButton .sapMBtnIcon {
    font-size: 14px !important;
    margin-top: -5px !important;
    margin-left: 0 !important;
    width: auto !important;
    height: auto !important;
  
}

.sapMFlexItem
{
  margin-top: -2px !important;
}

.sapUiTableColCell
{
  text-align: center !important;
}

.miaIcona{

    font-size: 14px !important;
    margin-top: 15px !important;
    margin-left: 0 !important;
    width: auto !important;
    height: auto !important;
    color:red !important;

}

.classeM{
color:red !important;
  
}

.sapMImg{
  margin-top:10px;
}

.cellaTesto 
{
    font-family: monospace !important;
    font-size: 0.675rem !important;  
}

.mioButton .sapMBtnContent {
    overflow: visible !important;
    margin-left: -0.8em !important;
    font-family: monospace;
    font-size: 1em !important;  
}


.mioButton .sapMBtnContent {
  overflow: visible !important;
  margin-left: -0.8em !important;
  font-family: monospace;
  font-size: 1em !important;
}

.sapMLabel {
  font-family: monospace !important;
  font-size: 0.875rem !important;
  white-space: pre-wrap !important;
/*  text-align: center !important;*/
}

.fullDay .sapMBtnInner{
  
  background-color:chartreuse;
  background-image: none;
  /*border-color: #b51616;*/
 /* color: #ffffff;*/
  text-shadow: none;
}

#Assign .sapMBtnContent, #Assign .sapMBtnIcon 
{
  color:chartreuse !important;
}
#halfDay .sapMBtnContent, #halfDay .sapMBtnIcon
{
  color: yellow; 
}
#wCust .sapMBtnContent, #wCust .sapMBtnIcon
{
  color: darkorange;  
}
#wCons .sapMBtnContent, #wCons .sapMBtnIcon
{
  color: aqua; 
}

.fullDay .sapMBtnIcon, .halfDay .sapMBtnIcon, .wCust .sapMBtnIcon, .wCust .sapMBtnIcon
{
  color: black;
}

.halfDay .sapMBtnInner{
  background-color: yellow;
  background-image: none;
/*  border-color: #b51616;*/
  text-shadow: none;
}

.wCust .sapMBtnInner{
  
background-color: darkorange;
   background-image: none;
   text-shadow: none;
}

.wCons .sapMBtnInner{
   
  background-color:aqua;
  background-image: none;
  text-shadow: none;
}










/*

.mioButton .sapMBtnContent
{
  
}
*/

/*
.tileCustom .sapMStdTileInfo {
  white-space: normal;
  margin-top: 1rem;
}
*/


/*
.sapMStdTileTitle {
  font-size: 1.25rem;
  color: #ed1620 !important;
}
*/


/********************/


/*Riello*/

.sapMTileContent:active {
    background-color: blue;
}

/*
#soLaunchpadId--SOtiles-soLaunchpadId--container-0-img{
    width: 10rem !important;
    height: 4rem !important;
    margin-top: 3rem;
}

#soLaunchpadId--SOtiles-soLaunchpadId--container-1-img{
    width: 10rem !important;
    height: 4rem !important;
    margin-top: 3rem;
}

#soLaunchpadId--SOtiles-soLaunchpadId--container-0-title{
    margin-top: 4rem;
    align-items: center;
    text-align: center;
    color: forestgreen !important;
}

#soLaunchpadId--SOtiles-soLaunchpadId--container-1-title{
    margin-top: 4rem;
    align-items: center;
    text-align: center;
}
*/

.iconColumns {
    width: 2.75rem;
}

/*
#splitApp-Master {
  border-right-style: solid;
  border-right-color: #CC1919 !important;
}
*/

#changePasswordId--linkChangePass {
    width: 100%;
    margin-left: 45%;
}
.sapMShellBrandingBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    z-index: 1;
    background-color: blue !important;
}

/* freccia delle select di colore rosso */


/*
.sapMComboBoxBasePressed .sapMComboBoxBaseArrow,
.sap-desktop .sapMComboBoxBasePressed .sapMComboBoxBaseArrow:hover {
  background: #CC1919 !important;
}
*/


/* selected item colore grigio */

.sapMSelectListItemBaseSelected {
    background: rgba(33, 26, 28, 0.12);
}

/*login più basso*/

#loginId--loginFlexBoxId {
    margin-top: 12rem;
    height: 15em;
}

/*
.sapMNavItem {
  background-color: white !important;
  background: url("../img/back.png") center bottom no-repeat;
  background-size:contain;

}
*/


/*
.pageClass {
  background-color: white !important;
  background: url("../img/back.png") center bottom no-repeat;
  background-size: contain;
}
*/


/*
.miaPagina {
  background-color: white !important;
  background: url("../img/logoRiello.png"), url("../img/sfondo_basso.png");
  background-position: left 50px, center bottom;
  background-repeat: no-repeat;
  background-size: initial, contain;
}
*/

.sapMActionSheet {
    width: 180px;
}




.sapMBtnInner {
  margin-top: -5px !important;
}



/*
.sapMBtn.mioButton{
    background-color: #005f28 !important;
    border-color: #005f28 !important;

}
*/

/*
.sapMBtn, .mioButton{
    background-color: #005f28 !important;
    border-color: #005f28 !important;

}
*/
.mioButton
{
/*
  color:aqua !important;
  background-color: aqua !important;
*/
}

.mioBottone2
{
  color: yellow!important;
  background-color: yellow!important;
}

#lv1Node {
    color: aqua;
}
#lv2Node {
    color: deepskyblue;
}

/*
#newCustomerId {
  background-color: white !important;
  background: url("../img/Sfondo_3.png") center bottom no-repeat;
  background-size: contain;
}

#orderListId {
  background-color: white !important;
  background: url("../img/Sfondo_3.png") center bottom no-repeat;
  background-size: contain;
}

#orderInfoId {
  background-color: white !important;
}

#productRODetailId--detailROPage {
  background-color: white !important;
}

#HistoryCartsDetailId--historyCartsPageId {
    background-color: white !important;
}
*/


/*
#launchpadId--container-scrl
{
  background-color: white !important;
  background: url("../img/Sfondo_.png") center bottom no-repeat;
}
*/

.sapUiGlobalBackgroundImage.sapUiGlobalBackgroundImageForce {
    display: block;
    background: url("../img/footer_Generico.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: white;
}

/*
#changePasswordId--changePass-cont {
  background-color: white !important;
  background: url("../img/Sfondo_2.png") center bottom no-repeat;
  background-size: contain;
}
*/

.sapUiVltCell {
    margin-left: 40px !important;
    margin-right: 2em !important;
}

/*
Font Master list Customer
*/


/*pagina del dettaglio ed edit*/


/*
#__page1-cont
{
  background-color: white  ;
}*/


/*
#emptyId {
  background-color: white !important;
}

#customerDetailId--detailPage-cont {
  background-color: white;
  background-image: url("../img/riello.png");
  background-repeat: no-repeat;
  background-position: right top;
}

#customerEditId--editPage-cont {
  background-color: white;
  background-image: url("../img/riello.png");
  background-repeat: no-repeat;
  background-position: right top;
}

#productDetailId {
  background-color: white !important;
}

#cartFullId {
  background-color: white !important;
}
*/


/*
.sapUiFormResGrid>div {
    margin-top: 5em;
    border-style: solid;
    border-color: #E72F27;
}
*/


/* Order Create */


/*
#orderCreateId--simpleform0--Form--Grid {
  background-color: white !important;
  margin-top: -1em;
  margin-bottom: -1.5em;
}

#orderCreateId {
  background-color: white;
}

.sapMITBSelected>.sapMITBContentArrow {
  border-bottom-color: #CC1919;
}

.sapMITBSelected .sapMITBFilterDefault {
  background: #CC1919;
  color: #ffffff;
}

.sapMITBFilterDefault {
  color: #CC1919;
}

.sapMITBFilterIcon {
  background: #ffffff;
  border: 1px solid #cc1919;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  -moz-border-radius: 3rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 2.75rem;
  overflow: hidden;
  width: 3rem;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.sap-desktop .sapMIBar.sapMFooter-CTX {
  background-color: rgb(204, 25, 25);
}

.sapMIBar-CTX.sapMFooter-CTX {
  background-color: rgb(204, 25, 25) !important;
}

.sapMITBContent {
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
  border-color: #CC1919;
  border-style: solid;
}
*/


/********************/

.formClass {
    background: none;
}

/*
.sapUiFormResGrid>div {
  margin-top: 5em;
}
*/


/*
#__box0 {
  height: 8em;
}
*/

#cartFullId--prenoteSwitch {
    margin-left: 1em;
}
.progressIndicator {
    margin-left: 1em;
}

/*
#orderCreateId--simpleform0--Form--Grid {
  margin-top: -1em;
  margin-bottom: -1.5em;
}
*/


/*
#orderCreateId--hboxcustom0 {
  margin-bottom: -1.5em;
}
*/


/*
#__container2---Panel {
  margin-bottom: -0.5em;
}
*/

#orderCreateId--simpleform1--Form--title {
    margin-top: -0.8em;
    border: 0;
}

/*
#orderCreateId--hboxcustom1 {
  height: 80%;
}
*/

#orderCreateId--simpleform2--Form--title {
    height: 0px;
    /*
  border-left-style: inset;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: inset;
  border-top-style: inset;
*/
    border: 0px;
}

/*
#orderCreateId--simpleform1--Form--Grid {
  padding-top: 0.1em;
  border-top-style: inset;
  border-left-style: inset;
  border-right-style: outset;
    border-bottom-style: inset;
  border-width: 0.3em;
  margin-left: 0.9em;
  margin-right: 0.9em;
}

#orderCreateId--simpleform2--Form--Grid {
  padding-top: 0.1em;
  border-bottom-style: outset;
  border-top-style: outset;
  border-left-style: inset;
  border-right-style: outset;
  border-width: 0.3em;
  margin-left: 0.9em;
  margin-right: 0.9em;
}
*/


/*
#__page0-cont
{
    border-style:outset;
        padding: 1rem 0.75rem;
}
*/

.customIconTabBar {
    margin-left: 5em;
    margin-right: 5em;
    width: 80%;
}
.customObjectHeader {
    width: 100%;
    margin: 0px;
    padding: 2em;
    padding-top: 2em;
    text-align: center;
    background-color: #f4f0ff;
    border-bottom-style: groove;
    border-color: #0089FF;
}

/*#loginFlexBoxId {
  height: 15em;
}*/

.orderItemsForm {
    margin-bottom: 2em;
    margin-top: 2em;
}

/*
.ConfirmButton {

  margin-left: 35px !important;
}
*/


/*
.requestAvailability {
  margin-right: 2em !important;
}
*/

.toolbarNoBorder {
    border-style: none;
    margin-right: 0.5em !important;
}

/*Mobile*/


/*
.sapMPageHeader::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  border-top: 0.25rem solid #CC1919;
  z-index: 7;
}
*/

.productRequestPanel .sapMPanelExpandableIcon {
    display: none !important;
}
