.pageClass {
    background-color: white;
    background: url("../img/bg.png") center no-repeat;
}

.formClass{
    border: solid;
    border-color: #0000FF;
}

.sap-desktop .sapMWizard .sapMWizardNextButton {
    display: block;
    left: 47.5% !important;
}